<div class="row">
   		<div class="large-4 small-3 small-offset-2 medium-3 medium-offset-2 columns">
   			<%=image_tag "ghost-baby.png", :class => "ghost-baby" %>
   			<div ng-controller="SliderController" >
	   			<div class="slider" >
	    			 <h1 class="slide" ng-repeat="phrase in phrases" ng-show="phrase.visible" >{{ phrase.phrase }}
	    			 </h1>
	     		<slider phrases="phrases" />
	  			 </div>
	 		 </div>
	 	</div>		
	<div class="large-4  small-4 small-offset-1 medium-4 medium-offset-1 columns list">
		<div class="row" ng-controller="SliderController">
		 		  <ul class="list large-block-grid-2 small-block-grid-1 medium-block-grid-1">
		 	 			
			     	<li class="button-list">
			     		<%= image_tag "dating.png", :class => "sm-photo" %>
			     		<h3 class="name">ONLINE DATING</h3>
			     	</li>
			   
		     
		     		<li class="button-list">
		     			<%= image_tag "government.png", :class => "sm-photo" %>
		     			<h3 class="name">GET POLITICAL</h3>
		     		</li>

		     		<li class="button-list">
		     			<%= image_tag "friends.png", :class => "sm-photo" %>
		     			<h3 class="name">GET BACK IN TOUCH</h3>
		     		</li>
		      
				
				
		     		<li class="button-list">
		     			<%= image_tag "heart.png", :class => "sm-photo" %>
		     			<h3 class="name">SYMPATHY NOTE</h3>
		     		</li>
	     	
	     		</ul>
	     	</div>
		</div>
	</div> 
  </div> 
</div>

<div class="row">

	<div class="large-4 large-offset-8 columns">
		<div class="button-list name" id="get-personal">DO BUSINESS</div>
	</div>
</div>